/*
CSS Comment
 */

/* make the site 100% of the browser height */
html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  /* http://css-tricks.com/snippets/css/font-shorthand/ */
  /*font: font-style font-variant font-weight font-size/line-height font-family;*/
  font: normal normal normal 16px/1.2 'Lato', sans-serif;
  /*background-image: url(../img/congruent_outline.png);*/
  background-image: url(../img/footer_lodyas.png);
  /*background-image: url(../img/stardust.png);*/
  /*background-image: url(../img/mochaGrunge.png);*/
}

header {
  margin: 10% 0 0;
  /* center everything in the header */
  text-align: center;
}

/* make any images in the header be round */
header img {
  border-radius: 50%;
}

header a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  /* add a margin to the right to push space all the links */
  margin: 0 1em 0 0;
}

/* make the last item have no margin */
header a:last-child {
  margin: 0;
}

/*
All the hover effects for each network
http://brandcolors.net/
 */

header .facebook:hover {
  color: #3a58b0;
}

header .twitter:hover {
  color: #55acee;
}

header .warpaint:hover {
  color: #9EC02A;
}

header .google-plus:hover {
  color: #dd4b39;
}

header .youtube:hover {
  color: #e52d27;
}

/* styles for the section and footer elements */
section, footer {
  padding: 2em;
  color: #555;
  max-width: 700px;
  margin: 2em auto;
  background: white;
}

/* headers normally have a margin, remove it */
section h3 {
  margin-top: 0;
  /*font-variant: small-caps;*/
  /*text-transform: uppercase;*/
}

a {
  color: black;
}

/* make the table full width, and make the borders combined */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* make all the th and td elements the same */
table th, table td {
  text-align: left;
  padding: 0.5em;
  border: 1px solid #CECECE;
}